# **[EIE409] Programación 2**

## **Clase 9:**

### **Tabla de contenido**

1. Pandas.

# **1. Pandas**

| [Revisar documentación oficial para tener una guía](https://pandas.pydata.org/docs/getting_started/index.html#getting-started) |

**Pandas** es una biblioteca de código abierto con [licencia BSD](https://es.wikipedia.org/wiki/Licencia_BSD#:~:text=La%20licencia%20BSD%20es%20la,OpenSSL%20o%20la%20MIT%20License.) que proporciona estructuras de datos y herramientas de análisis de datos de alto rendimiento y fáciles de usar para el lenguaje de programación Python.

## **1.1 ¿Cómo podemos entender Pandas?**

Pandas es un framework donde las estructuras de datos están **etiquetada**, y tenemos dos estructuras principales:

1. ``Series``: Es un array unidimensional etiquetado capaz de contener distintos tipos de datos (enteros, cadenas, números de coma flotante, objetos Python, etc).
2. `DataFrame`: Es una estructura de datos de dos dimensiones etiqueta con columnas. Se puede pensar esta estructura de datos como un excel, o una tabla SQL. **Nota**: Es la estructura de datos más utilizada.

## **1.2 Instalar Pandas**

Para utilizar Pandas debemos primero instalarlo en nuestro ambiente, en el caso de google colab ya viene instalado, simplemente se debe importar.

In [1]:
!pip install -q pandas

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\gol_m\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

## **1.3 Importar Pandas**

In [3]:
import pandas as pd

## **1.4 Series**

Para crear una estructura de datos `Series` utilizamos la notación del punto para pandas y recibe principalmente dos parámetros, los datos y la etiqueta, en este caso la indexación.

* datos: Puede ser cualquier tipo de datos (puede entregarse una lista, escalar o un ndarray).
* index: Debe ser una lista de string, que contiene la indexación.

```python

data = np.random.randint(1, 10, (4, )) # Datos que son objetos de numpy

s = pd.Series(data, index=['a', 'b', 'c', 'd'])
```

In [ ]:
# Escriba el código anterior y muestre el resultado.

Se pueden crear Series de pandas pasando un diccionario como parámetro de entrada.

```python
diccionario = {
    "nombre": "Gabriel",
    "apellido": "Olmos"
}
s = pd.Series(diccionario)
```

In [ ]:
# Escriba el código y muestre el resultado

Puedes replicar el mismo dato pero que contenga distintas indexaciones (o etiquetas).

In [11]:
scalar = 5.0
index = ['param1', 'param2', 'param3', 'param4']

s = pd.Series(scalar, index=index)

In [13]:
# Muestra el contenido de s

### **1.4.1 Acceder a los elementos**

Para acceder al contenido de una **Serie**, podemos hacerlo de distintas formas:

1. Método ``iloc[índice]``.
2. Como si fuera un diccionario de Python.

In [16]:
np.random.seed(5)

datos = np.random.randint(1, 10, (10,))
abc = "abcdefghij"
index = list(abc) # Creamos la etiquetas

s = pd.Series(datos, index=index)
# s # Mostrar s

Muestra los siguientes contenidos utilizando el slicing, pero con ``iloc[]``.

* Acceder al primer elemento de la Serie.
* Acceder al último elemento de la Serie.
* Acceder a un conjunto de elementos, debe ser el segundo elemento hasta el quinto elemento (deben mostrarse cuatro elementos).

In [ ]:
# Realice lo solicitado

Muestra los siguientes contenidos como si fuera un diccionario.

* Acceder al primer elemento de la Serie.
* Acceder al último elemento de la Serie.
* Acceder a un conjunto de elementos, debe ser el segundo elemento hasta el quinto elemento (deben mostrarse cuatro elementos). Para realizar lo solicitado, debe entregarse una lista con las etiquetas.

In [ ]:
# Realice lo solicitado

### **1.4.2 Operaciones con Series**

A una ``Series`` podemos aplicarle distintas operaciones matemáticas. Por ejemplo, podemos aplicar a cada elemento la potencia de n, exponencial de cada elemento, etc.

In [28]:
np.random.seed(5)

data = np.random.randint(1,10,(10,))
etiquetas = "abcdefghij"
index = list(etiquetas)

s = pd.Series(data, index=index)

Al objeto s aplique las siguientes operaciones:

1. Elevar al cuadrado.
2. Aplicar la exponencial (utilice numpy).
3. Sume un escalar que tenga el valor de 1.
4. Sume s con la misma estructura (s+s).

In [ ]:
# Relice las operaciones

### **1.4.3 Atributos con Series**

Como todo objeto, Series tiene algunos atributos interesantes, podemos acceder al tipo de dato, su nombre, etc. 

**Nota**: A las estructuras de datos de Pandas, podemos asignarle un nombre.

* ``pd.Series().dtype``
* ``pd.Series().name``

In [39]:
s = pd.Series(np.random.randn(5), name="Mi primera Series")

In [43]:
# Muestre s y acceda a esos dos atributos

## **1.5 DataFrame**

| [Documentación DataFrame](https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe) |

``DataFrame`` es una estructura de datos bidimensional (2-dimensional) etiquetada con columnas de tipos potencialmente diferentes. Se puede pensar en él como una hoja de cálculo (excel) o una tabla SQL, o como un dictado de objetos Series. Generalmente es el objeto pandas más utilizado. Al igual que Series, DataFrame acepta muchos tipos diferentes de entrada: 

* Dict de 1D ndarrays, listas, dicts, o Series 
* 2-D numpy.ndarray 
* ndarray estructurado o de registro 
* Una Series 
* Otro DataFrame.

A continuación, se mostrarán distintas formas para crear un ``DataFrame``. Recordemos que hay que pensar en un DataFrame como si fuera un excel, que es una matriz que tiene filas y columnas etiquetadas.

### **1.5.1 A partir de Listas**

Podemos crear un `DataFrame` a parti de **listas de listas** (cada sublista es una fila)

In [48]:
datos = [
    ['Gabriel', 50],
    ['Juan', 45],
    ['Ana', 30],
    ['Luis', 28]
]

columnas = ['Nombres', 'Edades']

df = pd.DataFrame(datos, columns=columnas)

In [ ]:
# Muestre df

### **1.5.2 A partir de Listas de Diccionarios**

Cada diccionario es una fila.

In [53]:
datos = [
    {'Nombres': "Gabriel", 'Edades': 50},
    {'Nombres': "Juan", 'Edades': 45},
    {'Nombres': "Ana", 'Edades': 30},
    {'Nombres': "Luis", 'Edades': 28},
]

df = pd.DataFrame(datos)

In [ ]:
# Muestre df

### **1.5.3 A partir de una única Lista**

Si es a partir de una única lista, contendría una única columna.

In [55]:
nombres = ["Juan", "Ana", "Luis"]
df = pd.DataFrame(nombres, columns=["Nombres"])

In [ ]:
# Muestre df

### **1.5.4 A partir Diccionario de Listas**

In [57]:
datos = {
    "Nombres": ["Gabriel", "Juan", "Pedro", "Felipe"],
    "Edades": [50, 48, 45, 42]
}

df = pd.DataFrame(datos)

In [ ]:
# Mostrar s

**Nota**: Este enfoque para mi es el más rápido para crear ``DataFrames``.

### **1.5.5 A partir Series**

In [16]:
s_nombre = pd.Series(["Juan", "Ana", "Luis"])
s_edad = pd.Series([25, 30, 28])

dic = {
    "Nombres": s_nombre,
    "Edades": s_edad
}

df = pd.DataFrame(dic)

In [64]:
# Mostrar s

### **1.5.6 Slicing en DataFrame**

Para acceder a los elementos de un DataFrame se puede realizar de diferentes formas:

#### **Acceder a las Columnas**

1. ``df['clave]`` (como si fuera un diccionario de Python).
2. ``df.Columns`` (Utilizando la notación del punto, solo si no tiene espacios ni caracteres especiales).

#### **Acceder a las Filas**

1. ``df.loc[índice]`` (Series) o ``df.loc[[índice]]`` (DataFrame).
2. ``df.iloc[índice_fila]`` o ``df.iloc[[índice_fila]]``

#### Comparación visual rápida

| Método      | Significado                         | Ejemplo                          |
|-------------|-------------------------------------|----------------------------------|
| `loc[1, 'Col']`   | Fila con índice 1, columna `'Col'`   | Usa etiquetas                    |
| `iloc[1, 1]`      | Segunda fila, segunda columna       | Usa posiciones numéricas         |

In [17]:
s_nombre = pd.Series(["Juan", "Ana", "Luis"])
s_edad = pd.Series([25, 30, 28])

dic = {
    "Nombres": s_nombre,
    "Edades": s_edad
}

df = pd.DataFrame(dic)

Realicemos distintos ejercicios para aprender a acceder a los elementos de un DataFrame.

1. Accede a las distintas columnas.
2. Acceder a la primera fila, utilizando loc (``df.loc[0]``).
3. Acceder a la primera fila junto con la segunda columna, utilizando loc (``df.loc[0, 'Edades']``).
4. Accede a la primera fila, utilizando iloc (``df.iloc[0]``).
4. Accede a la primera fila junto con la segunda columna, utilizando iloc (``df.iloc[0, 1]``).

In [ ]:
df['Nombres'] # Esto nos retorna una Series de Pandas

In [ ]:
# Muestra la segunda columna

## **1.6 Cargar Archivos a un DataFrames**

| [Revisar la documentación para más información](https://pandas.pydata.org/docs/user_guide/io.html#io-tools-text-csv-hdf5) |

Podemos cargar distintos tipos de archivos a un ``DataFrame`` de Pandas, algunos de los más comunes son:

1. csv: ``pd.read_csv()``
2. excel: ``pd.read_excel()``
3. json: ``pd.read_json()``

### **1.6.1 Cargar CSV**

In [65]:
ruta = r"C:\Users\gol_m\OneDrive\Desktop\Magíster en Ciencias de la Ingeniería\2025\Cursos Dictados\Primer Semestre\EIE409 - PROGRAMACIÓN 2\CLASES\materiales\dataset.csv"

df = pd.read_csv(ruta)

In [ ]:
# Muestre el data frame

### **1.6.2 Cargar EXCEL**

Si estás desde tu dispositivo, lo más probable es que debas instalar una biblioteca.

```bash
pip install -q openpyxl
```

In [3]:
ruta = r"C:\Users\gol_m\OneDrive\Desktop\Magíster en Ciencias de la Ingeniería\2025\Cursos Dictados\Primer Semestre\EIE409 - PROGRAMACIÓN 2\CLASES\materiales\datos_excel.xlsx"

df = pd.read_excel(ruta)

In [ ]:
# Muestre el data frame

### **1.6.3 Cargar JSON**

In [5]:
ruta = r"C:\Users\gol_m\OneDrive\Desktop\Magíster en Ciencias de la Ingeniería\2025\Cursos Dictados\Primer Semestre\EIE409 - PROGRAMACIÓN 2\CLASES\materiales\test.json"

df = pd.read_json(ruta)

In [ ]:
# Mostra df

## **1.7 Exploración y Análisis de Datos con Pandas: Dataset Spotify**

En esta sección se realizarán distintos proceso al dataset de Spotify. Este dataset consiste en un conjunto de top canciones de 70 países. Para obtener más información puedes revisar la página [Kaggle: Top Spotify Songs](https://www.kaggle.com/datasets/asaniczka/top-spotify-songs-in-73-countries-daily-updated).

### **1.7.1 Cargar CSV**

In [32]:
ruta = r"C:\Users\gol_m\OneDrive\Desktop\Magíster en Ciencias de la Ingeniería\2025\Cursos Dictados\Primer Semestre\EIE409 - PROGRAMACIÓN 2\CLASES\materiales\dataset.csv"

df = pd.read_csv(ruta)

### **1.7.2 Mostrar DataFrame y otros datos**

A continuación, vamos a utilizar algunos métodos y atributos que nos permiten obtener información sobre el archivo que hemos cargado.

1. `df.head()`: Muestra el DataFrame (df).
2. `df.info()`: Nos entrega información general del df.
3. `df.dtypes`: Nos entrega el tipo de datos de cada columna.
4. `df.columns`: Nos retorna un objeto con las columnas del df.

In [ ]:
# Para mostrar 5 elementos por defecto, se utiliza .head()
df.head()

In [ ]:
# Para mostrar más elementos, se le entrega la cantidad de elementos a .head()
df.head(10)

In [ ]:
# Obtener info general del dataframe
print(df.info())

In [ ]:
# Obtener los tipos de datos de cada columna
print(df.dtypes)

In [ ]:
# Obtener las columnas del dataframe
df.columns

In [15]:
# Obtener las columnas del dataframe
df.columns

Index(['Unnamed: 0', 'track_id', 'artists', 'album_name', 'track_name',
       'popularity', 'duration_ms', 'explicit', 'danceability', 'energy',
       'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo', 'time_signature',
       'track_genre'],
      dtype='object')

### **1.7.3 Slicing**

Selecciona un artista y muestre tres canciones, donde se indique la popularidad, la duración y el tempo. Una forma para acceder a todo el contenido de un artista es utilizar `df[df['artists']=='Nombre Artista']`

In [76]:
df['artists']=='Paco Versailles'

0         False
1         False
2         False
3         False
4         False
          ...
113995    False
113996    False
113997    False
113998    False
113999    False
Name: artists, Length: 114000, dtype: bool

In [72]:
df.loc['Slipknot']

KeyError: 'Slipknot'

In [33]:
df.columns

Index(['Unnamed: 0', 'track_id', 'artists', 'album_name', 'track_name',
       'popularity', 'duration_ms', 'explicit', 'danceability', 'energy',
       'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo', 'time_signature',
       'track_genre'],
      dtype='object')

In [51]:
artist = df['artists']
artist

0                    Gen Hoshino
1                   Ben Woodward
2         Ingrid Michaelson;ZAYN
3                   Kina Grannis
4               Chord Overstreet
                   ...
113995             Rainy Lullaby
113996             Rainy Lullaby
113997             Cesária Evora
113998          Michael W. Smith
113999             Cesária Evora
Name: artists, Length: 114000, dtype: object

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114000 entries, 0 to 113999
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        114000 non-null  int64
 1   track_id          114000 non-null  object
 2   artists           113999 non-null  object
 3   album_name        113999 non-null  object
 4   track_name        113999 non-null  object
 5   popularity        114000 non-null  int64
 6   duration_ms       114000 non-null  int64
 7   explicit          114000 non-null  bool
 8   danceability      114000 non-null  float64
 9   energy            114000 non-null  float64
 10  key               114000 non-null  int64
 11  loudness          114000 non-null  float64
 12  mode              114000 non-null  int64
 13  speechiness       114000 non-null  float64
 14  acousticness      114000 non-null  float64
 15  instrumentalness  114000 non-null  float64
 16  liveness          114000 non-null  float64
 17  valence           114000 non-null  float64
 18  tempo             114000 non-null  float64
 19  time_signature    114000 non-null  int64
 20  track_genre       114000 non-null  object
dtypes: bool(1), float64(9), int64(6), object(5)
memory usage: 17.5+ MB

In [70]:
df[df['artists']=='Paco Versailles']

Empty DataFrame
Columns: [Unnamed: 0, track_id, artists, album_name, track_name, popularity, duration_ms, explicit, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, time_signature, track_genre]
Index: []

[0 rows x 21 columns]

In [65]:
max(df[df['artists']=='Slipknot']['popularity'])

80

In [50]:
df.loc[0, 'artists']

'Gen Hoshino'

In [47]:
artist[0]

'Gen Hoshino'

In [2]:
file_path = r"C:\Users\gol_m\OneDrive\Desktop\Magíster en Ciencias de la Ingeniería\2025\Cursos Dictados\Primer Semestre\EIE409 - PROGRAMACIÓN 2\CLASES\materiales\dataset.csv"

df = pd.read_csv(file_path)

In [4]:
df.columns

Index(['Unnamed: 0', 'track_id', 'artists', 'album_name', 'track_name',
       'popularity', 'duration_ms', 'explicit', 'danceability', 'energy',
       'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo', 'time_signature',
       'track_genre'],
      dtype='object')

In [5]:
df.artists

0                    Gen Hoshino
1                   Ben Woodward
2         Ingrid Michaelson;ZAYN
3                   Kina Grannis
4               Chord Overstreet
                   ...
113995             Rainy Lullaby
113996             Rainy Lullaby
113997             Cesária Evora
113998          Michael W. Smith
113999             Cesária Evora
Name: artists, Length: 114000, dtype: object